$white:             #ffffff;
$black:             #000000;
$lightGray:         #94A2B3;
$darkBlue:          #272D4E;
$lightBlue:         #299EF3;
$lightPurple:       #7854F7;
$appleGreen:        #70C217;